@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/** USING: 
    > rem for font sizing
    > vw or % for other elements sizing

*/

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Montserrat", sans-serif;
}

main {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.page__title {
  background-color: rgb(57, 64, 80);
  color: white;
  padding: 20px;
  border: 2px solid rgb(7, 7, 98);
}

.app__container {
  padding: 60px;
}

.app__title {
  margin-bottom: 50px;
}

.app__subtitle {
  margin-bottom: 50px;
}

.app__login-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app__login-type {
  background-color: rgb(12, 12, 143);
  padding: 10px 20px;
  color: white;
  border: 1px solid rgb(7, 7, 98);
  border-radius: 10px;
}

.app__login-type:hover {
  color: rgb(12, 114, 154);
  box-shadow: 3px 3px rgb(2, 51, 70);
}

.footer {
  background-color: rgb(45, 45, 45);
  font-family: "Montserrat", sans-serif;
  min-height: 70px;
}

.footer__container {
  padding: 20px;
  display: flex;
  gap: 40px;
}

.footer__link {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.welcome__message {
  padding: 10px;
}

nav {
  margin: 0;
}

.nav-element {
  background-color: rgb(12, 12, 143);
  display: flex;
}

.nav-element__item {
  list-style: none;
  padding: 20px;
}

.nav-element__link {
  text-decoration: none;
  color: white;
}

.nav-element__item:hover {
  background-color: rgb(23, 23, 192);
}

form,
#add-service-div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 255px;
}

form label {
  font-size: 0.8em;
  margin-bottom: 5px;
}

form textarea {
  width: 700px;
  min-width: 255px;
}

.submit,
.delete-service,
.edit-service,
#confirm-service-button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.submit:hover,
.delete-service:hover,
.edit-service:hover,
#confirm-service-button:hover {
  box-shadow: 3px 3px black;
}

input {
  padding: 5px;
}

.framed-text {
  border: 2px solid black;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 0 auto;
}

.announcement__message {
  margin-left: 240px;
  padding: 20px;
}

.signup__link {
  color: purple;
}

.service {
  border: 0.3vw black solid;
  background-color: #f9f9f9;
  font-family: RobotoLight, Arial, sans-serif;
}

#services-list-div {
  text-align: center;
  margin: 0 25vw;
}

#add-service-div {
  margin: 0 25vw;
}

.bigred {
  font-size: 10pt;
  font-family: Ariel;
  color: red;
}
.logo {
  float: right;
  margin-right: 100px; /* To add space between text and image */
}
