.account__form {
  width: 500px;
}

.account__title {
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 40px;
}

.account__form-item {
  margin-bottom: 20px;
}

.account__button-container {
  display: flex;
  gap: 20px;
}
