.app {
  flex: 1;
  display: flex;
}

.app__container {
  flex: 1;
}

.app__logo-container {
  position: absolute;
  right: 70px;
}

.app__logo {
  width: 150px;
}

.app__container {
  padding: 60px;
}
