:root{
  --shade1: rgb(7,7,98);
  --shade2: rgb(12,12,143);
  --shade3: rgb(23,23,192);
}
.button {
  width: 100%;
  padding: 15px;
  background-color: var(--shade2);
  color: #fff;
  font-size: 14px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--shade3);
}


.button--secondary {
  background-color: rgb(160, 160, 160);
}


.button--secondary:hover {
  background-color: rgb(179, 179, 179);
}