:root{
  --shade1: rgb(7,7,98);
  --shade2: rgb(12,12,143);
  --shade3: rgb(23,23,192);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__link {
  display: flex;
  gap: 10px;
}

.menu__link:hover {
  color: var(--shade3);
}