.profile {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 40px;
}

.profile__header {
  display: flex;
}

.profile__image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
}

.profile__title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.profile__email {
  font-size: 14px;
}

.profile__title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
